---
layout: home
---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

      <link rel="apple-touch-icon" sizes="57x57" href="/images/icon/apple-icon-57x57.png" />
      <link rel="apple-touch-icon" sizes="60x60" href="/images/icon/apple-icon-60x60.png" />
      <link rel="apple-touch-icon" sizes="72x72" href="/images/icon/apple-icon-72x72.png" />
      <link rel="apple-touch-icon" sizes="76x76" href="/images/icon/apple-icon-76x76.png" />
      <link rel="apple-touch-icon" sizes="114x114" href="/images/icon/apple-icon-114x114.png" />
      <link rel="apple-touch-icon" sizes="120x120" href="/images/icon/apple-icon-120x120.png" />
      <link rel="apple-touch-icon" sizes="144x144" href="/images/icon/apple-icon-144x144.png" />
      <link rel="apple-touch-icon" sizes="152x152" href="/images/icon/apple-icon-152x152.png" />
      <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-icon-180x180.png" />
      <link rel="icon" type="image/png" sizes="192x192"  href="/images/icon/android-icon-192x192.png" />
      <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/favicon-32x32.png" />
      <link rel="icon" type="image/png" sizes="96x96" href="/images/icon/favicon-96x96.png" />
      <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/favicon-16x16.png" />
      <link rel="manifest" href="/manifest.json" />
      <meta name="msapplication-TileColor" content="#ffffff" />
      <meta name="msapplication-TileImage" content="/images/icon/ms-icon-144x144.png" />
      <meta name="theme-color" content="#ffffff" />

    <style>
      nav .dropdown {
        position: relative;
        display: inline-block;
        margin-left: 20px;
      }

      nav .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 5px;
        z-index: 1;
      }

      nav .dropdown-content a {
        margin-left: 0;
      }

      nav .dropdown:hover .dropdown-content {
        display: block;
      }
    </style>
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
        <h1>Select Your Language</h1>
        {% for lang in site.data.languages %}
            {% assign langCode = lang[0] %}
            {% if langCode == 'en' %}{% continue %}{% endif %}
            <em>{{ site.data.translations.selectLang[langCode] }}</em><br />
        {% endfor %}
        
        <ul class="languages">
            {% for lang in site.data.languages %}
                {% assign language = lang[1] %}
                <li><a href="/{{lang[0]}}">{{language.icon}} {{ language.label }} ({{ lang[0] }})</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}


    <script>
      function openExternalLink(event) {
        event.preventDefault();
        event.stopPropagation();
        window.open(this.href, '_blank');
      }
      (function () {
        var userLang = navigator.language || navigator.userLanguage;
        userLang = userLang.substring(0,2);
        switch(userLang){
            case 'de':
                window.location.href = '/de/';
                break;
            case 'en':
                window.location.href = '/en/';
                break;
        }

        let allLinks = document.getElementsByTagName('a');
        for (let i = 0; i < allLinks.length; i++) {
          let link = allLinks[i];
          if (link.href.indexOf('https://keep-on-rolling.ch/') === -1 &&
                  link.href.indexOf('http://localhost') === -1 &&
                  link.href.indexOf('mailto:') === -1) {
            link.addEventListener('click', openExternalLink);
          }
        }
      })();
    </script>
  </body>
</html>
